Checks: >
  -*,
  readability-identifier-naming,
  cppcoreguidelines-pro-type-member-init,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*

WarningsAsErrors: >
  cppcoreguidelines-pro-type-member-init

CheckOptions:
  # =====[ MacroDefinition ]=====
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  # =====[ Class ]=====
  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  # =====[ Struct ]=====
  - key: readability-identifier-naming.StructCase
    value: CamelCase

  # =====[ Enum ]=====
  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase

  # =====[ Function ]=====
  - key: readability-identifier-naming.GlobalFunctionCase
    value: CamelCase

  - key: readability-identifier-naming.FunctionCase
    value: CamelCase

  - key: readability-identifier-naming.ConstexprFunctionCase
    value: CamelCase

  # =====[ Variable ]=====
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: G

  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE

  - key: readability-identifier-naming.LocalVariableCase
    value: CamelCase
    

  # =====[ Pointer ]=====
  - key: readability-identifier-naming.GlobalPointerPrefix
    value: p