# LLVM version 21.1.8
---
Language: Cpp
BasedOnStyle: LLVM

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortNamespacesOnASingleLine: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignArrayOfStructures: Left
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignEscapedNewlines: LeftWithLastLine
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AccessModifierOffset: -4
AlwaysBreakAfterDefinitionReturnType: false
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakBinaryOperations: Never

ColumnLimit: 0
PackConstructorInitializers: Never
Cpp11BracedListStyle: false

IncludeCategories:
- Regex: '.*'
  Priority: 1
  SortPriority: 0
  CaseSensitive: true
- Regex: '^".*'
  Priority: 2
- Regex: '^<.*'
  Priority: 3
IncludeBlocks: Regroup
IncludeIsMainRegex: '([-_](test|unittest))?$'

IndentCaseLabels: true
IndentPPDirectives: BeforeHash

IndentWidth: 4
TabWidth: 4
UseTab: Never

InsertNewlineAtEOF: true
MacroBlockBegin: ""
MacroBlockEnd: ""
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
QualifierAlignment: Leave # DO NOT CHANGE
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpaceBeforeCpp11BracedList: true
FixNamespaceComments: true
WrapNamespaceBodyWithEmptyLines: Always
LambdaBodyIndentation: Signature
...
